<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='.\Baza\DNTbaza.mdb'"/>
    <add key="TimerZasun" value="5"/>
    <add key="TimerVrataOtvorena" value="20"/>
    <add key="BackUpFolder" value=""/>
    <add key="TimerFoto" value="2000" />
    <add key="TimerTransakcijaEnd" value="6000" />
    <add key="PortElektronika" value="COM3"/>
    <add key="Lcd" value="True"/>
    <add key="LcdPort" value="COM4"/>
    <add key="LcdBaudRate" value="9600"/>
    <add key="LcdTimerDueTime" value="250"/>
    <add key="LcdUvodnaPoruka" value="     IKB  Umag      DNEVNO-NOCNI TREZOR"/>
  </appSettings>
</configuration>