<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='.\Baza\DNTbazaPrazna.mdb'"/>
    <add key="TimerZasun" value="5"/>
    <add key="TimerVrataOtvorena" value="20"/>
    <add key="BackUpFolder" value=""/>
    <add key="PortElektronika" value="COM2"/>
  </appSettings>
</configuration>